@media (min-width: 992px) {
  #mainNav {
    .navbar-brand {
      width: 250px;
    }
    .navbar-collapse {
      overflow: visible;
      max-height: none;
      .navbar-sidenav {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 56px;
        > .nav-item {
          width: 250px;
          padding: 0;
          > .nav-link {
            padding: 1em;
          }
          .sidenav-second-level, .sidenav-third-level {
            padding-left: 0;
            list-style: none;
          }
          .sidenav-second-level > li, .sidenav-third-level > li {
            width: 250px;
          }
          .sidenav-second-level > li > a, .sidenav-third-level > li > a {
            padding: 1em;
          }
          .sidenav-second-level > li > a {
            padding-left: 2.75em;
          }
          .sidenav-third-level > li > a {
            padding-left: 3.75em;
          }
        }
      }
      .navbar-nav > .nav-item.dropdown {
        > .nav-link {
          min-width: 0;
          &:after {
            width: 24px;
            text-align: center;
          }
        }
        .dropdown-menu > .dropdown-item > .dropdown-message {
          max-width: 300px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #mainNav.fixed-top {
    .navbar-sidenav {
      height: calc(100vh - 112px);
    }
    .sidenav-toggler {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: calc(100vh - 56px);
      > .nav-item {
        width: 250px;
        padding: 0;
        > .nav-link {
          padding: 1em;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

@media (min-width: 992px) {
  .sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
    li.active a {
      color: white !important;
      background-color: #495057;
      &:focus, &:hover {
        color: white;
      }
    }
    > .nav-item {
      .sidenav-second-level, .sidenav-third-level {
        background: #343a40;
      }
    }
  }
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
    li.active a {
      color: #000 !important;
      background-color: #e9ecef;
      &:focus, &:hover {
        color: #000;
      }
    }
    > .nav-item {
      .sidenav-second-level, .sidenav-third-level {
        background: #f8f9fa;
      }
    }
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  .sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}