.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  > {
    li {
      display: inline;
      > {
        a, span {
          position: relative;
          float: left;
          padding: 6px 12px;
          margin-left: -1px;
          line-height: 1.42857143;
          color: #337ab7;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
        }
      }
    }
    .disabled > {
      a {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
        &:focus, &:hover {
          color: #777;
          cursor: not-allowed;
          background-color: #fff;
          border-color: #ddd;
        }
      }
      span {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
        &:focus, &:hover {
          color: #777;
          cursor: not-allowed;
          background-color: #fff;
          border-color: #ddd;
        }
      }
    }
    li {
      &:first-child > {
        a, span {
          margin-left: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      > {
        a {
          &:focus, &:hover {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
          }
        }
        span {
          &:focus, &:hover {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
          }
        }
      }
    }
    .active > {
      a {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
        &:focus, &:hover {
          z-index: 3;
          color: #fff;
          cursor: default;
          background-color: #337ab7;
          border-color: #337ab7;
        }
      }
      span {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
        &:focus, &:hover {
          z-index: 3;
          color: #fff;
          cursor: default;
          background-color: #337ab7;
          border-color: #337ab7;
        }
      }
    }
  }
}