<!-- Remove Modal-->
<div class="modal fade" id="modal-remove-{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-remove-{{photo.id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-remove-{{photo.id}}">remove information</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to exclude this data?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" ng-click="main.removeDataTable(photo, $index)">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal-->
<div class="modal fade" id="modal-edit-{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-edit-{{photo.id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-{{photo.id}}">Update information</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formUpdate" novalidate>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="iTitle" ng-model="iTitle" ng-init="iTitle = photo.title" required ng-class="!formUpdate.iTitle.$valid ? 'is-invalid' : 'is-valid'">
                        <div ng-class="!formUpdate.iTitle.$valid ? 'invalid-feedback' : ''" ng-show="!formUpdate.iTitle.$valid">
                            Please type a Title.
                        </div>                    
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" class="form-control" name="iUrl" ng-model="iUrl" ng-init="iUrl = photo.url" ng-class="!formUpdate.iUrl.$valid ? 'is-invalid' : 'is-valid'" required>
                        <div ng-class="!formUpdate.iUrl.$valid ? 'invalid-feedback' : ''" ng-show="!formUpdate.iUrl.$valid">
                            Please type a Url.
                        </div>   
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" ng-disabled="!formUpdate.iUrl.$valid || !formUpdate.iTitle.$valid" type="button" data-dismiss="modal" ng-click="main.updateDataTable(formUpdate, photo.id, $index)">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- new Modal-->
<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="modal-new" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-new">New information</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="form" novalidate>
                    <div class="form-group">
                        <label>Title</label>
                        <input id="titleInput" type="text" class="form-control" name="newTitle" ng-model="newTitle"   ng-class="!form.newTitle.$valid ? 'is-invalid' : 'is-valid'" required>
                        <div ng-class="!form.newTitle.$valid ? 'invalid-feedback' : ''" ng-show="!form.newTitle.$valid">
                            Please type a Title.
                        </div>                    
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input id="urlInput" type="text" class="form-control" name="newUrl" ng-model="newUrl" ng-class="!form.newUrl.$valid ? 'is-invalid' : 'is-valid'" required>
                        <div ng-class="!form.newUrl.$valid ? 'invalid-feedback' : ''" ng-show="!form.newUrl.$valid">
                            Please type a Url.
                        </div>   
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="confirmBtn" ng-disabled="!form.newUrl.$valid || !form.newTitle.$valid" type="button" data-dismiss="modal" ng-click="main.newDataTable(form)">Confirm</button>
            </div>
        </div>
    </div>
</div>